:root {
    --grey-tone: #C1C4C8;
    --orange-light: #EA580C;
    --orange-main: #CB4E0B;
    --orange-dark: #C2410C;
}

/* base */
body {
    background: #F2F6FA;
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

/* main */
.container {
    width: 100%;
    max-width: 1700px;
    margin: 3rem auto;
    padding: 2.5rem 1.5rem;
}

/* heading */
h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5;

    border-left: 3px solid var(--orange-main);
    border-bottom: 2px solid var(--orange-main);

    padding-left: 0.4rem;
    margin-bottom: 1.5rem;

    display: inline-block;
}

/* text */
p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

legend,
label {
    font-size: 1rem;
}

legend {
    margin-bottom: 1rem;
}

/* Form wrapper */
form {
    background: #ffffff;
    min-width: 70%;
    padding: 2rem;
    flex-grow: 1;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

form label:not(
    input[type="radio"] + label,
    input[type="checkbox"] + label
) {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

form input:not(
    [type="radio"],
    [type="checkbox"],
    [type="submit"]
),
textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--grey-tone);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

textarea {
    min-height: 5rem;
    max-height: 16rem;
    resize: vertical;
}

form fieldset div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form fieldset label {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--grey-tone);
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: calc((22rem - 100%) * 999);
    min-inline-size: min(100%, 14rem);
}

fieldset label span {
    margin-right: 0.75rem;
}

fieldset label:has(input[type="radio"]:checked) {
    background: var(--orange-soft);
    color: #ffffff;
}

input[type="submit"] {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--orange-deep);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease;
}

input[type="submit"]:hover {
    background: var(--orange-soft);
}

/* 740px*/
@media (min-width: 740px) {

    .inner-header-container {
        display: flex;
        gap: 1rem;
    }

    img {
        width: 60%;
    }
}

/* 1200px */
@media (min-width: 1200px) {

    .container {
        display: flex;
        gap: 2rem;
    }

    .inner-header-container {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
    }
}

/* 1700px */
@media (min-width: 1700px) {

    .container {
        margin-inline: auto;
        padding: 3rem 0;
        max-width: 90rem;
    }

}